.header{
	background: url(../img/header/header-bg.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
	color: #fff;
	width: 100%;
	overflow: hidden;
}
.nav__logo img{
	width: 115px;
}
.nav{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #fff;
	color: #000;
	padding: 10px 2.5%;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	transition: .5s ease;
	z-index: 100;
}
.nav.scroll{
	border-bottom: 2px solid #a51e24;
}
.nav__burger-btn{
	display: none;
}
.nav__logo-min{
	display: none;
	height: 50px;
	padding: 10px;
}
.nav__logo-min img:first-child{
	margin-right: 10px;
}
.nav__logo-min img{
	height: 100%;
}
.burger-line{
	height: 4px;
	width: 40px;
	background-color: #a51e24;
	border-radius: 3px;
	display: block;
	transition: .5s ease-out;
}
.nav__burger-btn.open .burger-line:first-child{
	transform: rotate(45deg) translate(3px, 8px);
}
.nav__burger-btn.open .burger-line:nth-child(2){
	opacity: 0;
}
.nav__burger-btn.open .burger-line:last-child{
	transform: rotate(-45deg) translate(7px, -12px);
}
.burger-line:nth-child(2){
	margin: 7px 0;
}
.nav__menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.menu__link{
	transition: 0.5s ease;
}
.menu__link:hover{
	color: #a51e24; 
	font-weight: 600;
	font-size: 16px;
}
.menu__item.current .menu__link{
	color: #a51e24; 
	font-weight: 600;
	font-size: 16px;
}
.menu__item{
	margin: 0 12px;
	font-size: 14px;
}

.nav__info{
	text-align: right;
	font-size: 17px;
}
.nav__info-call{
	font-size: 16px;
	color: #a51e24;
	text-decoration: underline;
	margin-right: 25px;
	cursor: pointer;
}
.offer{
	width: 630px;
	margin-top: 160px;
	padding-bottom: 70px;
}
.offer__title{
	font-size: 40px;
}
.offer__text{
	font-size: 17px;
    font-weight: 300;
    margin-top: 20px;
    width: 80%;
    display: block;
    margin-bottom: 50px;
}




/*about*/


.about__info{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.about__img{
	margin-right: 15px;
	width: 50%;
}
.about__text{
	margin-left: 15px;
	width: 50%;
}
.about__text h3{
	font-size: 35px;
	margin-bottom: 10px;
}
.news-shadow{
	padding: 10px;
}
.news-box__item{
	overflow: hidden;
	transition: 1s ease-out;
	box-shadow: 0px 0px 3px 0px #000;
	z-index: 1;
	border-radius: 1px;
}
.news-box__item img{
	/*height: 230px;*/
	width: 100%;
	transition: 0.7s ease-out;
}
.news-box__item div{
	padding: 26px 14px;
	background-color: #fff;
	padding-top: 18px;
}
.news-box__item h3{
	font-size: 21px;
	color: #a51e24;
	margin-bottom: 15px;
	transition: 0.7s ease-out;
	letter-spacing: 0.5px;
}
.date{
	font-size: 13px;
	color: #909090;
	margin-bottom: 10px;
}
.news-text{
	margin-bottom: 20px;
	font-size: 14px;
}
.news-box__item a{
}
.news-box__item:hover{
	background-color: #a51e24;
}
.news-box__item:hover img{
	opacity: .6;
}


/*statistic*/


.statistic-box{
	justify-content: space-around;
	flex-wrap: wrap;
}
.statistic-item{
	border-radius: 50%;
	background-color: #a51e24;
	display: flex;
	width: 200px;
	height: 200px;
	min-width: 200px;
	min-height: 200px;
	color: #fff;
	text-align: center;
	align-content: center;
	box-sizing: border-box;
	padding: 20px;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.statistic-item__text{
	font-size: 16px;
	text-transform: uppercase;
}
.statistic-item__number{
	font-size: 32px;
	font-weight: 700;
	margin-top: 10px;
}
.statistic-item__text, .statistic-item__number{
	display: block;
	margin: 5px auto;
	width: 100%;
}


/*projects*/


.projects-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.project__item{
	width: 32%;
	margin-bottom: 20px;
	min-width: 300px;
}
.projects-box .slide-text{
	height: 130px;
}


/*partners*/


.partner-item img{
	width: 100%;
}
.partner-item{
	display: flex;
	align-items: center;
	justify-content: center;
}
.owl-nav button span{
	font-size: 20px;
	border: 2px solid #a51e24;
	color: #a51e24;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.owl-theme .owl-nav [class*=owl-]:hover{
	background: none;
}


/*projects-table*/

.help-projects .section__title p{
	margin-top: 20px;
    line-height: 27px;
}
.projects-table{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.project-table-3x3 .projects-table__item{
	width: 32%;
}
.project-table-3x3 .projects-table__item:last-child{
	margin: 0 auto;
}
.projects-table__item{
	width: 49%;
	margin-bottom: 25px;
	padding: 30px 16px;
	box-shadow: 0 0px 5px rgba(0,0,0,0.25);
	background-color: #fff;
}
.projects-table__item h3{
	color: #a51e24;
	font-size: 18px;
	margin-bottom: 13px;
	letter-spacing: 0.8px;
}
.border-title{
	height: 1px;
	width: 110px;
	background-color: #a51e24;
	margin-bottom: 13px;
	/*alt
	height: 2px;
    width: 80px;*/
}
.projects-table__item p{
	font-size: 14px;
	line-height: 26px;
}

.projects-table__item .projects-table__desc{
	margin-bottom: 10px;
	line-height: 25px;
}
.donate-blocks{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.donate-block__item{
	background-color: #fff;
	box-shadow: 0 0px 5px rgba(0,0,0,0.25);
	padding: 30px 45px;
	width: 380px;
	text-align: center;
}
.donate-btn{
	background-color: #a51e24;
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 15px 11px;
	border-radius: 4px;
	letter-spacing: 2px;
}
.donate-block__item p{
	margin-bottom: 17px;
	line-height: 25px;
}


/*hover*/
.donate-block__item{	
  box-shadow:0 2px 3px 0px rgba(0,0,0,0.25);
  border-radius:3px;
  transition:.2s all; 
}
.donate-blocks:hover body{
  filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
}
.donate-blocks:hover .donate-block__item:hover{
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}
/*hover*/

/*footer*/

.footer{
	background-color: #272727;
	color: #fff;
	padding: 50px 0;
}
.footer-box{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.footer__link{
	color: #fff;
	font-size: 14px;
	margin-bottom: 5px;
}
.footer__link:hover{
	text-decoration: underline;
}
.footer__text{
	font-size: 15px;
	margin-bottom: 20px;
}
.footer__links{
	justify-content: center;
	margin-bottom: 20px;
}
.footer__links a{
	font-size: 25px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	border: 2px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin: 0 5px;
}
.footer-legacy{
	text-align: center;
	font-size: 14px;
}

.page-offer{
    text-align: center;
    margin-top: 165px;
    margin-bottom: 65px;
}
.page-offer .help-btn{
	font-size: 15px;
    font-weight: 300;
}
.page-offer .offer-text{
	margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 14px;
}
.about__text .help-btn{
	padding: 12px 21px;
	margin-top:  30px;
	font-size: 14px;
}
.about__text .help-btn:hover{
	border: 1px solid #a1161c;
	font-size: 15px;
}
.about__info:nth-child(odd) .about__img{
	order: 1;
	margin-right: 0;
}
.about__info:nth-child(odd) .about__text{
	margin-left: 0;
	margin-right: 15px;
}
.about__info:nth-child(odd) .about__img{
	order: 1;
	margin-right: 0;
}
.about__info:nth-child(odd) .about__text{
	margin-left: 0;
	margin-right: 15px;
}
.news-page .about__text h3{
	font-size: 24px;
	margin-top: 10px;
	font-weight: 400;
	margin-bottom: 20px;	
}
.news-page .about__text p{
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
}
.about-social-wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.social-col{
	width: 49%;
}
.social-img{
	background: url(../img/about/about-social.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;	
}
.gift-img{
	background: url(../img/christmas/gift.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;	
}
.social-content p{
	font-size: 15px;
	margin-bottom: 20px;
}
.social-btn-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.social-btn p{
	margin-bottom: 0;
}
.social-btn p:first-child{
	margin-bottom: 20px;
}
.social-btn{
	background-color: #a51e24;
	color: #fff;
	width: 48%;
	text-align: center;
	padding: 30px 3px;
	box-shadow: 0px 0px 12px -4px #000
}
.goods__row{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.goods__item{
	width: 32%;
	min-width: 180px;
	box-shadow: 0 0px 5px rgba(0,0,0,0.25);
	margin-bottom: 20px;	
}
.goods__item-title{
	font-size: 16px;
	color: #a51e24;
	padding-bottom: 20px;
	margin-left: 20px;
}
.goods__item-border{
	border-bottom: 1px solid #a51e24;
	margin-top: 17px;
	width: 115px;
}
.goods__item-img{
	overflow: hidden;
	margin-bottom: 30px;
/*	height: 330px;*/
}
.goods__item-img img{
	width: 100%;
}
.good__item-request{
	margin-left: 20px;
	margin-bottom: 35px;
	width: 75%;
	/*max-width: 200px;*/
	/*max-width: 80%;*/
	color: #fff;
	background-color: #a51e24;
	border-radius: 5px;
}
.good__item-request a{
	color: #fff;
	text-align: center;
	padding: 10px 30px;
	font-size: 16px;
}
.parthners .about__text h3{
	font-size: 34px;
}

/*reviews*/
.reviews{
	
}
.reviews__item{
	display: flex;
	justify-content: space-between;
}
.reviews__quaote{
	margin-right: 50px;
}
.reviews__quaote p{
	font-size: 100px;
	color: #e6e6e6;
}
.reviews__content{

}
.reviews__content p{
	line-height: 25px;
}

